.customSeparatorWrapper {
  position: relative;
}

.customSeparatorRoot {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  align-items: center;
  gap: 0.5rem;
  padding-left: 22px;
  font-family: var(
    --diffs-header-font-family,
    var(--diffs-header-font-fallback)
  );
  font-size: 0.75rem;
}

.customSeparatorControls {
  display: inline-flex;
  gap: 0.25rem;
}

.customSeparatorButton,
.customExpandAllButton {
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.customExpandAllButton:hover {
  text-decoration: underline;
}

.customSeparatorButton {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.customSeparatorIcon {
  font-family: var(--diffs-font-family, var(--diffs-font-fallback));
  font-size: 1rem;
  line-height: 1;
}

.customSeparatorLabel {
  margin-left: 0.75rem;
  color: var(--diffs-fg-number);
  font-family: var(
    --diffs-header-font-family,
    var(--diffs-header-font-fallback)
  );
  white-space: nowrap;
}

.customSeparatorLabel:hover {
  text-decoration: underline;
}

.customExpandAllButton {
  left: 144px;
  color: var(--diffs-fg-number);
  font-family: var(
    --diffs-header-font-family,
    var(--diffs-header-font-fallback)
  );
  font-size: 0.75rem;
  white-space: nowrap;
  margin-left: 10px;
}

.customExpandAllButton::before {
  content: '·';
  display: inline-block;
  position: relative;
  left: -9px;
}